Dynamic Delegation Discovery System (DDDS) support for service discovery.

Once NAPTR and SRV DNS lookups are implemented. I need to carefully go through the relevant RFC's for the Dynamic Delegation Discovery System to determine the ''right'' way to implement URN and URI lookups for services registered on the bus. The RFC's are:

- [RFC3401](https://www.rfc-editor.org/rfc/rfc3401.html)
- [RFC3402](https://www.rfc-editor.org/rfc/rfc3402.html)
- [RFC3403](https://datatracker.ietf.org/doc/html/rfc3403)
- [RFC3404](https://datatracker.ietf.org/doc/html/rfc3404)

Given that RFC3401 and RFC3404 are mostly informational, I'm reasonably sure that I am compliant with the DDDS system.